/* 全体 開始 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:#fff;
    border-radius: 0.3rem;
}

.custom-body {
    height: 100vh;
    width: 100vw;
    background-color: #B9D08B;
}

.main-cover {
    padding: 40px;
    background-color: rgba(255,255,255,0.36);
}

ul {
    list-style: none;
}
/* 全体 終了 */

/* ヘッダーエリア 開始 */
header {
    min-height: 150px;
}

.header-logo {
    width: 40%;
    height: 40%;
}
/* ヘッダーエリア 終了 */

/* キャラクター選択エリア 開始 */
.select-box {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.speech-box {
    position: relative;
}

.speech-img {
    width: 100%;
    min-width: 200px;
    transform: scaleX(-1);
}

.speech-text {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: black;
    white-space: nowrap;
}

.menu {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    text-align: center;
}

.menu > li {
    width: 80%;
    min-width: 180px;
    font-size: 2rem;
    margin: 0.5rem;
    background-color: hotpink;
    border: 3px solid hotpink;
    cursor: pointer;
}
/* キャラクター選択エリア 終了 */

/* ずんだもん立ち絵 開始*/
#zundamon-img {
    width: 262.3px;
    height: 400px;
    transform: scaleX(-1); /* 立ち絵反転 */
    float: right;
}
/* ずんだもん立ち絵 終了*/
