/* 全体 開始 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:#fff;
    border-radius: 0.3rem;
}

.custom-body {
    height: 100vh;
    width: 100vw;
    background-color: #B9D08B;
}

ul {
    list-style: none;
}
/* 全体 終了 */

/* ヘッダーエリア 開始 */
header {
    min-height: 200px;
    text-align: center;
}

.header-logo {
    width: 449.14px;
    height: 200px;
}
/* ヘッダーエリア 終了 */

/* キャラクター選択エリア 開始 */
.main-cover {
    padding: 40px;
    background-color: rgba(255,255,255,0.36);
}

.select-box {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comment-box {
    position: relative;
}

.comment-frame {
    width: 100%;
    min-width: 210px;
    transform: scaleX(-1);
}

.comment {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: black;
    white-space: nowrap;
}

.menu {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    text-align: center;
}

.menu > li {
    width: 80%;
    min-width: 180px;
    font-size: 2rem;
    margin: 0.5rem;
    background-color: hotpink;
    border: 3px solid hotpink;
    cursor: pointer;
}
/* キャラクター選択エリア 終了 */

/* ずんだもん立ち絵 開始 */
#zundamon-img {
    width: 262.3px;
    height: 400px;
    transform: scaleX(-1); /* 立ち絵反転 */
    float: right;
}
/* ずんだもん立ち絵 終了 */

/* メディアクエリ 開始 */
@media (max-width: 768px) {
    header {
        min-height: 70px;
        text-align: center;
    }

    .header-logo {
        width: 336.86px;
        height: 150px;
    }

    #zundamon-img {
        width: 196.73px;
        height: 300px;
    }
}

@media (max-width: 1400px) {
    .comment {
        font-size: 1em;
    }
}

@media (max-width: 576px) {
    .header-logo {
        width: 224.57px;
        height: 100px;
    }
}
/* メディアクエリ 終了 */